<div style="display: flex; justify-content: end">
  @for (item of menuList; track $index) {
  <button
    mat-raised-button
    [matMenuTriggerFor]="aboveMenu"
    (click)="titleNavigateTo(item)"
  >
    {{ item.menuName }}
  </button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    @for (chid of item.child; track $index) {
    <button mat-menu-item (click)="navigateTo('/home' + chid.url)">
      {{ chid.menuName }}
    </button>
    }
  </mat-menu>
  }
</div>

<main>
  <router-outlet></router-outlet>
</main>

<footer>Footer</footer>
